!!! xml
rss(version=2.0)
	channel
		title= "PatchCast"
		link= "http://patchcast.no.de"
		lastBuildDate= new Date()
		language= "de-de"
		- each entry in entries
			item
				title= entry.title
				- if (entry.artist)
					author= entry.artist
				pubDate= new Date(entry.timestamp)
				enclosure(url=entry.url)
