!!! 5
html(lang="de")
	head
		title="PatchCast"
		link(href='http://fonts.googleapis.com/css?family=Pacifico:regular,bold', rel='stylesheet', type='text/css')
		link(href='screen.css', rel='stylesheet', type='text/css')
		link(href='scripts/mediaelement/mediaelementplayer.min.css', rel='stylesheet', type='text/css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')
		script(src='scripts/mediaelement/mediaelement-and-player.min.js')
		script(src='scripts/basis.js')
		link(rel='alternate', type='application/rss+xml', title="PatchCast", href="/feed")
	body
		#global
			#content
				h1 PatchCast
				h2
					a.icon(href='/feed')
					a.title(href='/feed') custom podcast feed
				form(method='post', action="/")
					input(type='url', name='url', placeholder='http://url-of-your-audio/file.mp3', autofocus)
					input(type='submit', value='add')
				- if (entries)
					- each entry in entries.reverse()
						article
							header
								strong= entry.title
								- if (entry.artist)
									span= entry.artist
							audio(src=entry.url, preload='none', controls)
							footer
								time(datetime=new Date(entry.timestamp), title=new Date(entry.timestamp))="added " + relativeDate(entry.timestamp)
								a.download(href=entry.url, title=entry.url.replace(/.*\//,''))= "download"
								a.delete(href='#')= "delete"
				a.clear(href="#")= "delete all episodes"